    <div class="bg-cont" style="background-image: url('../assets/bg1.png');">
        <div class="inside-cont">
            <div class="row align-items-center">
                <div class="col">
                    <span class="h2" style="color: white;">All Patient Details</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content" style="display: flex;justify-content: center;margin-top: -6rem!important;">
        <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="admissionTypeCount" style="width: 73%;">
            <div class="animate" [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
                <mat-card class="mat-elevation-z8 emergency animate" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor"
                        class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
                        <path
                            d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z" />
                    </svg>
                    <mat-card-header>
                        <mat-card-title style="color:red"class="count"> {{currentCount}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Emergency
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%">
                <mat-card class="mat-elevation-z8 elective">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor"
                        class="bi bi-calendar-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 14V4h14v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1Zm7-6.507c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                    </svg>
                    <mat-card-header>
                        <mat-card-title style="color:green"class="count">{{currentCountElective}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Elective
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
                <mat-card class="mat-elevation-z8 urgent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor"
                        class="bi bi-heart-pulse" viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Z" />
                        <path
                            d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z" />
                    </svg>
                    <mat-card-header >

                        <mat-card-title class="count">{{currentCountUrgent}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Urgent
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>


    <div  class="box" style="width: 80%; margin: auto;">
        <div style="">
            <!-- <mat-toolbar>
                <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
                    <span *ngIf="gridColumns === 4">Three Columns</span>
                    <span *ngIf="gridColumns === 3">Four Columns</span>
                </button>
            </mat-toolbar> -->
            
         
    
            <div style="padding: 10px ;">
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input  matInput (keyup)="applyFilter($event)"  placeholder="Search" #input>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div class="sroll-bar mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
    
                    <!-- Position Column -->
    
                    <ng-container matColumnDef="SUBJECT_ID" class="header-cell">
    
                        <th class="header-cell" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                            PATIENT_ID
                        </th>
                        <td mat-cell *matCellDef="let element" style="color: black;"><b>{{element.SUBJECT_ID}}</b> </td>
                    </ng-container>
    
                    <!-- Name Column -->
                    <ng-container matColumnDef="HADM_ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                            HADM ID
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.HADM_ID}} </td>
                    </ng-container>
    
                    <!-- Weight Column -->
                    <ng-container matColumnDef="Riskgroup">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                            RISK GROUP
                        </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{
                            'riskgroup1': element.Riskgroup === 'Low',
                            'riskgroup2': element.Riskgroup === 'Medium',
                            'riskgroup3': element.Riskgroup === 'High',
                            'riskgroup4': element.Riskgroup === 'Urgent'
                        }">
                            {{ element.Riskgroup }}
                        </td>
                    </ng-container>
    
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="AGE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                            AGE
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.AGE}} </td>
                    </ng-container>
                    <!-- Gender Column -->
                    <ng-container matColumnDef="GENDER">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender">
                            GENDER
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.GENDER}} </td>
                    </ng-container>
                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell width="18%" *matCellDef="let element">
                            <button color="primary" mat-raised-button [routerLink]="['/patient',element.HADM_ID]">View Details</button>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row class="a" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10,50,75,100]" showFirstLastButtons>
    
                </mat-paginator>
            </div>
        </div>


