<div style="display: flex; flex-direction: column;">

    <div class="img-cont" style="margin-top: 17px;">
        <div class="text-cont">
          <h1 class="display-4 mb-3">
            Your Health, <br>Our Purpose.<span class="text-primary text-highlight-warning"><u></u></span>
          </h1>

          <p class="lead" style="line-height: 31px;">
            <!-- Helping you achieve your best health, at every stage of life. -->
            <!-- "Your health, our mission - Providing expert report with compassion and dedication." -->
            "Committed to your well-being - Partnering in your health journey.Together for a better tomorrow."
          </p>

          <div class="d-grid d-sm-flex gap-3">
            <a class="btn btn-primary btn-transition px-6">Get Started</a>
            <a class="btn btn-link">Learn More <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>

        <img src="../assets/dashy.png"
            style="border-top-left-radius: 63%;
            width: 60%;
            border-bottom-left-radius: 35%;
            border-bottom-right-radius: 28%;"
        >
      </div>

      <div class="below-cont">
          <div class="below-text">
            <h2>Transforming healthcare with excellence and empathy.</h2>
          </div>
          <ul class="list-inline list-checked list-checked-primary">
            <img src="../assets/tick.png" style="height: 20px;" class="tick">
            <li class="list-inline-item list-checked-item">Patient Analysis</li>
            <img src="../assets/tick.png" style="height: 20px;" class="tick">
            <li class="list-inline-item list-checked-item">Health Status</li>
            <img src="../assets/tick.png" style="height: 20px;" class="tick">
            <li class="list-inline-item list-checked-item">Reducing Risks</li>
          </ul>

          <div class="card-cont row mb-5 mb-md-0">
              <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-sm h-100">
                  <div class="p-2">
                      <img src="https://media.istockphoto.com/id/1057138932/photo/female-doctor-with-stethoscope-hand-pointing-touching-data-digital-icon-hologram-with-blurred.jpg?s=612x612&w=0&k=20&c=fiu4_8SLvaPz-VpJzLpd0eGM_oZajIJHBWhL0n981oI=" class="card-img">
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Improved outcomes</h4>
                    <p class="card-text">By identifying high-risk patients early and providing tailored care.</p>
                    <ul class="list-pointer mb-0">
                      <li class="list-pointer-item"><i class="bi-chevron-right small ms-1"></i> &nbsp;&nbsp;risk stratification can improve health outcomes </li>
                      <li class="list-pointer-item"><i class="bi-chevron-right small ms-1"></i> &nbsp;&nbsp;prevent complications associated with chronic conditions.</li>
                    </ul>
                  </div>

                 </div>
              </div>


              <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-sm h-100">
                  <div class="p-2">
                    <img src="https://thumbs.dreamstime.com/b/health-care-system-diagram-check-symptom-vr-dashboard-medical-doctor-white-uniform-gown-coat-consulting-businessman-117666735.jpg" class="card-img">
                </div>

                <div class="card-body">
                    <h4 class="card-title">Cost savings</h4>
                    <p class="card-text">By focusing resources on high-risk patients, healthcare providers can reduce healthcare costs associated with </p>
                    <ul class="list-pointer mb-0">
                      <li class="list-pointer-item"><i class="bi-chevron-right small ms-1"></i> &nbsp;&nbsp;preventable hospitalizations</li>
                      <li class="list-pointer-item"><i class="bi-chevron-right small ms-1"></i> &nbsp;&nbsp;emergency department</li>
                      <!-- <li class="list-pointer-item"><i class="bi-chevron-right small ms-1"></i> &nbsp;&nbsp;Organization</li> -->
                    </ul>
                  </div>

                </div>
              </div>


              <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-sm h-100">
                  <div class="p-2">
                    <img src="https://miro.medium.com/v2/resize:fit:1200/1*dySZaEBWcafsfuPvPhhu9A.png" class="card-img" style="height:191px;">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Early intervention</h4>
                  <p class="card-text">Risk stratification allows healthcare providers to identify high-risk individuals.</p>
                  <ul class="list-pointer mb-0">
                    <li class="list-pointer-item"><i class="bi-chevron-right small ms-1"></i> &nbsp;&nbsp;prevent the onset of disease</li>
                    <li class="list-pointer-item"><i class="bi-chevron-right small ms-1"></i> &nbsp;&nbsp;manage the condition before it worsens.</li>
                  </ul>
                </div>

                </div>
              </div>
          </div>
      </div>
</div>

